#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --with quilt

FFMANPAGES = ffindex_apply.1 ffindex_build.1 ffindex_from_fasta.1 ffindex_get.1 ffindex_modify.1 ffindex_unpack.1 ffindexfs.1
.PHONY: ffmanpages
ffmanpages: $(FFMANPAGES)
BINNAMES =	\
		ffindex_apply="apply a program to each FFindex entry";\
		ffindex_build="build file index from files in directories";\
		ffindex_from_fasta="populate index from FASTA file";\
		ffindex_get="retrieve entries from file index";\
		ffindex_modify="modify file index entries";\
		ffindex_unpack="unpack all entries from file";\
		ffindexfs="FUSE module";\

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure
	cd php && phpize5 && \
	./configure -q \
		--prefix=/usr \
		--with-ffindex=../src \
		--with-php-config=/usr/bin/php-config5

.PHONY: override_dh_auto_build
override_dh_auto_build:
	dh_auto_build
	cd php && $(MAKE)

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	cd php && $(MAKE) INSTALL_ROOT=../debian/php5-ffindex install
	install -m0755 -d -D debian/php5-ffindex/etc/php5/conf.d/
	echo 'extension=ffindex.so' > debian/php5-ffindex/etc/php5/conf.d/ffindex.ini

.PHONY: override_dh_gencontrol
override_dh_gencontrol:
	dh_gencontrol
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-ffindex.substvars

.PHONY: override_dh_installman
override_dh_installman: $(FFMANPAGES)
	dh_installman

$(FFMANPAGES): %.1 : debian/tmp/usr/bin/%
	unset LD_PRELOAD && export LD_LIBRARY_PATH=debian/tmp/usr/lib && eval '$(BINNAMES)' && help2man --no-info --no-discard-stderr '--help-option= ' -n "$$$*" --version-option="-v" '$<' -o '$@' --include debian/man_notes.nroff

.PHONY: override_dh_clean
override_dh_clean:
	rm -f $(FFMANPAGES)
	cd php && phpize5 --clean
	dh_clean

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=ffindex-dbg

get-orig-source:
	mkdir -p ../tarballs
	uscan --verbose --force-download --destdir=../tarballs
